<div class="modal-content">
    <div class="modal-header">
        <div class="row mb-4 justify-content-center align-items-center justify-component mt-3">
            <div class="col-md-11 col-11 d-flex justify-content-center align-items-center">
                <h2>
                    Estudiantes de esta materia
                </h2>
            </div>
        </div>
    </div>
    <div class="container" style="justify-content: center;">
        <div class="row">
            <div class="col-md-12">
                <app-table-dinamico-modal></app-table-dinamico-modal>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="onConfirm(false)" class="btn button-cancelar bs-btn">OK</button>
    </div>
</div>